<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

      <!-- font awesome cdn link  -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/css/aboutUs.css">
</head>

<body>
 <!-- header section starts  -->

 <header class="header">

    <div class="header-1">

        <a href="/" class="logo"> <i class="fas fa-book"></i> <b>Study</b>Lance </a>

        
        <i class="fas fa-bars icon-hide" id="bar"></i>

        <nav class="navbar" id="navbars">
            <i class="fas fa-times icon-hide" id="crosss"></i>
            <a href="/">HOME</a>
            <a href="/gatePage">GATE</a>
            <a href="/rgpv" id="nav-rgpv">RGPV</a>
            <a href="/donate">DONATE</a>
            <a href="/contactUs">CONTACT US</a>
        </nav>
    </div>

</header>

<!-- header section ends -->

    <section id="aboutus">
        <div class="head2">
        <h2>About Our Team</h2>
        <p>
            StudyLance is developed to provide Study Materials like Competitive Study Notes, 
Standard Engineering books,Previous Year Questions and solutions of the Competitive and RGPV University Exams , Video Suggestions to clear Some topics For All  Engineering Branches.

        </p>
    </div>

        <div class="container">

            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img
                            src="https://media.istockphoto.com/photos/put-more-in-get-more-out-picture-id1291318636?b=1&k=20&m=1291318636&s=170667a&w=0&h=UvVIk7wwkN3X9OFm8gBlWWviV5vAjfrq2ejYP30JmnA=">
                    </div>
                    <div class="contentBx">
                        <h3>Ankit Baghel<br><span>Full stack web developer</span></h3>
                    </div>

                </div>

                <ul class="sci">
                    <li style="--img:1">
                        <a href="#"> <img src="../Images/1.png"> </a>
                    </li>
                    <li style="--img:2">
                        <a href="#"> <img src="../Images/2.png"> </a>
                    </li>
                    <li style="--img:3">
                        <a href="#"> <img src="../Images/3.png"></a>
                    </li>
                    <li style="--img:4">
                        <a href="#"> <img src="../Images/4.png"> </a>
                    </li>
                </ul>

            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img class="image"
                            src="https://media.istockphoto.com/photos/top-above-high-angle-view-portrait-of-his-he-nice-attractive-focused-picture-id1279133399?b=1&k=20&m=1279133399&s=170667a&w=0&h=NQlgTmoZq5oFrqWKN6-AfbdP0E_mpMEo5kfgtzITdOc=">
                    </div>
                    <div class="contentBx">
                        <h3>Ayush Ranjan<br><span>Back-end Developer</span></h3>
                    </div>

                </div>

                <ul class="sci">
                    <li style="--img:1">
                        <a href="#"> <img src="../Images/1.png"> </a>
                    </li>
                    <li style="--img:2">
                        <a href="#"> <img src="../Images/2.png"> </a>
                    </li>
                    <li style="--img:3">
                        <a href="#"> <img src="../Images/3.png"></a>
                    </li>
                    <li style="--img:4">
                        <a href="#"> <img src="../Images/4.png"> </a>
                    </li>
                </ul>

            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img
                            src="https://media.istockphoto.com/photos/male-programmer-working-on-new-project-picture-id1274948583?b=1&k=20&m=1274948583&s=170667a&w=0&h=TYb8QHIT9JT1hHmIh9oB5ClUuxenJ51b8OlSbHcXvqA=">
                    </div>
                    <div class="contentBx">
                        <h3>Devanand Sahu<br><span>Front-end Developer</span></h3>
                    </div>

                </div>

                <ul class="sci">
                    <li style="--img:1">
                        <a href="#"> <img src="../Images/1.png"> </a>
                    </li>
                    <li style="--img:2">
                        <a href="#"> <img src="../Images/2.png"> </a>
                    </li>
                    <li style="--img:3">
                        <a href="#"> <img src="../Images/3.png"></a>
                    </li>
                    <li style="--img:4">
                        <a href="#"> <img src="../Images/4.png"> </a>
                    </li>
                </ul>

            </div>
        </div>
    </section>


     <!-- Footer section starts -->
     <section class="footer" >

        <div class="box-container">
    
          <div class="box1">
            <h3>Quick Links</h3>
            <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="/rgpv"> <i class="fas fa-arrow-right"></i> RGPV </a>
            <a href="/donate"> <i class="fas fa-arrow-right"></i> Donate </a>
            <a href="/contactUs"> <i class="fas fa-arrow-right"></i> Contact Us</a>
            <a href="/aboutUs"> <i class="fas fa-arrow-right"></i> About Us </a>
        </div>
    
            <div class="box1">
                <h3>Go to Other Course</h3>
                <a href="/cs-it"> <i class="fas fa-arrow-right"></i> CS-IT </a>
                <a href=""> <i class="fas fa-arrow-right"></i> EEE </a>
                <a href=""> <i class="fas fa-arrow-right"></i> ECE</a>
                <a href=""> <i class="fas fa-arrow-right"></i> CE </a>
                <a href=""> <i class="fas fa-arrow-right"></i> ME </a>
                <a href=""> <i class="fas fa-arrow-right"></i> ChE </a>
            </div>
        </div>
    </section>
    
    <!-- footer section ends -->


    <!-- custom js file link  -->
<script src="/js/home.js"></script>

</body>

</html>